@charset "UTF-8";
/* line 8, ../sass/style.scss */
body {
  position: relative;
  font-family: "Roboto", "微軟正黑體", STHeiti, arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.085rem;
  color: #666666;
  background-image: url(../images/bg/daimond.svg);
  background-repeat: repeat;
  background-position: left top;
  z-index: 1;
}
@media screen and (max-width: 576px) {
  /* line 8, ../sass/style.scss */
  body {
    font-size: 15px;
  }
}
/* line 23, ../sass/style.scss */
body.no-scroll {
  overflow-y: hidden;
}

/* line 28, ../sass/style.scss */
a {
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 30, ../sass/style.scss */
a:hover, a:active, a:focus {
  outline: none;
  text-decoration: none;
}

/* line 36, ../sass/style.scss */
p {
  margin-bottom: 1.5rem;
}

/* line 40, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Roboto", "微軟正黑體", STHeiti, arial, sans-serif;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
}

/* line 48, ../sass/style.scss */
button, input, optgroup, select, textarea {
  font-family: "Roboto", "微軟正黑體", STHeiti, arial, sans-serif;
}

/* line 52, ../sass/style.scss */
input, textarea, select {
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 8px 15px;
  border: 1px solid #ccc;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
}

/* line 60, ../sass/style.scss */
textarea {
  min-height: 150px;
  resize: none;
}

/* line 65, ../sass/style.scss */
select {
  padding: 8px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* line 69, ../sass/style.scss */
.custom-control {
  cursor: pointer;
}
/* line 72, ../sass/style.scss */
.custom-control .custom-control-input:checked ~ .custom-control-indicator {
  background-color: #f4c51c;
}
/* line 76, ../sass/style.scss */
.custom-control .custom-control-description {
  padding-top: 3px;
}

/* line 81, ../sass/style.scss */
::-webkit-selection {
  color: #222;
  background: #f4c51c;
}

/* line 86, ../sass/style.scss */
::-moz-selection {
  color: #222;
  background: #f4c51c;
}

/* line 91, ../sass/style.scss */
::selection {
  color: #222;
  background: #f4c51c;
}

@media screen and (min-width: 1200px) {
  /* line 97, ../sass/style.scss */
  .container.sp {
    max-width: 1370px;
  }
}
@media screen and (max-width: 576px) {
  /* line 97, ../sass/style.scss */
  .container.sp {
    padding: 0;
  }
}

/* line 107, ../sass/style.scss */
header .banner {
  position: relative;
  width: 100%;
}
/* line 110, ../sass/style.scss */
header .banner .slide {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 119, ../sass/style.scss */
header .banner .slide:before {
  content: '';
  display: block;
  padding-bottom: 24%;
}
/* line 125, ../sass/style.scss */
header .banner .slick-dots {
  bottom: -5px;
}
/* line 129, ../sass/style.scss */
header .banner .slick-dots .slick-active button:before {
  color: #f4c51c;
}
/* line 136, ../sass/style.scss */
header .index {
  position: relative;
}
/* line 138, ../sass/style.scss */
header .index .caption {
  position: absolute;
  top: 75%;
  left: 0;
  width: auto;
  height: auto;
  padding: 1.5%;
  background-color: rgba(244, 197, 28, 0.8);
  -moz-transform: translateY(-75%);
  -ms-transform: translateY(-75%);
  -webkit-transform: translateY(-75%);
  transform: translateY(-75%);
}
/* line 147, ../sass/style.scss */
header .index .caption h4 {
  color: #666666;
  margin-bottom: 0;
  letter-spacing: 0.25rem;
}
/* line 151, ../sass/style.scss */
header .index .caption h4 strong {
  padding-right: 5px;
}
@media screen and (max-width: 768px) {
  /* line 136, ../sass/style.scss */
  header .index {
    margin-top: 92px;
  }
  /* line 158, ../sass/style.scss */
  header .index .caption {
    top: -92px;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: transparent;
  }
  /* line 162, ../sass/style.scss */
  header .index .caption h4 {
    color: #f4c51c;
    font-weight: bolder;
    line-height: 1.4;
  }
  /* line 166, ../sass/style.scss */
  header .index .caption h4 strong {
    padding-right: 0;
  }
  /* line 169, ../sass/style.scss */
  header .index .caption h4 strong, header .index .caption h4 .block {
    display: block;
  }
}
/* line 176, ../sass/style.scss */
header .menu {
  padding: 10px 0;
  border-top: 1px solid #f4c51c;
  border-bottom: 1px solid #f4c51c;
}
/* line 180, ../sass/style.scss */
header .menu .navbar-nav {
  width: 100%;
}
/* line 183, ../sass/style.scss */
header .menu .navbar-nav li a {
  color: #222;
  font-weight: bold;
}
/* line 186, ../sass/style.scss */
header .menu .navbar-nav li a:hover, header .menu .navbar-nav li a:active, header .menu .navbar-nav li a:focus {
  color: #666666;
}
/* line 190, ../sass/style.scss */
header .menu .navbar-nav li.show {
  display: none;
}
@media screen and (max-width: 1023px) {
  /* line 197, ../sass/style.scss */
  header .banner {
    margin-bottom: 0 !important;
  }
  /* line 200, ../sass/style.scss */
  header .navbar {
    padding: 0;
  }
  /* line 203, ../sass/style.scss */
  header .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  /* line 207, ../sass/style.scss */
  header .offcanvas-collapse {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: rgba(102, 102, 102, 0.98);
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }
  /* line 221, ../sass/style.scss */
  header .offcanvas-collapse.open {
    top: 0;
    left: 0;
    visibility: visible;
    z-index: 888;
  }
  /* line 227, ../sass/style.scss */
  header .offcanvas-collapse .navbar-nav {
    position: relative;
    height: 100%;
    padding-bottom: 45px;
  }
  /* line 231, ../sass/style.scss */
  header .offcanvas-collapse .navbar-nav li {
    width: 100%;
    padding: 0.75rem 0.5rem;
  }
  /* line 234, ../sass/style.scss */
  header .offcanvas-collapse .navbar-nav li a {
    display: block;
    width: 100%;
    font-size: 18px;
    color: #fff;
    text-align: left;
  }
  /* line 241, ../sass/style.scss */
  header .offcanvas-collapse .navbar-nav li:hover {
    background-color: #f4c51c;
    border-color: transparent;
  }
  /* line 244, ../sass/style.scss */
  header .offcanvas-collapse .navbar-nav li:hover a {
    color: #666666;
    letter-spacing: 0.5rem;
  }
  /* line 249, ../sass/style.scss */
  header .offcanvas-collapse .navbar-nav li.show {
    display: block;
  }
}
@media screen and (max-height: 767px) {
  /* line 258, ../sass/style.scss */
  header .offcanvas-collapse .navbar-nav {
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  /* line 266, ../sass/style.scss */
  .navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  /* line 271, ../sass/style.scss */
  .navbar-expand-lg .navbar-collapse .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
/* line 278, ../sass/style.scss */
.btn {
  width: 150px;
  padding: 8px 36px;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
/* line 287, ../sass/style.scss */
.btn:hover {
  text-decoration: none;
  outline: none;
}

/* line 292, ../sass/style.scss */
.btn-primary {
  background-color: #f4c51c;
  border-color: #f4c51c;
}
/* line 295, ../sass/style.scss */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #f5cb34;
  border-color: #f4c51c;
}
/* line 299, ../sass/style.scss */
.btn-primary.disabled {
  background-color: #f6d14d;
}
/* line 301, ../sass/style.scss */
.btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active {
  background-color: #f6d14d;
}

/* line 306, ../sass/style.scss */
.btn-white {
  background-color: #fff;
  border-color: #fff;
  color: #f4c51c;
}
/* line 310, ../sass/style.scss */
.btn-white:hover, .btn-white:focus, .btn-white:active {
  background-color: #d3a70a;
  border-color: #d3a70a;
  color: #fff;
}

/* line 316, ../sass/style.scss */
.btn-outline, .show > .btn-success.dropdown-toggle {
  background-color: transparent;
  border-color: #f4c51c;
  color: #f4c51c;
  border-width: 2px;
}
/* line 321, ../sass/style.scss */
.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .show > .btn-success.dropdown-toggle:hover, .show > .btn-success.dropdown-toggle:focus, .show > .btn-success.dropdown-toggle:active {
  background-color: #f4c51c;
  border-color: #f4c51c;
  color: #fff;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
/* line 341, ../sass/style.scss */
#main section {
  position: relative;
  display: block;
  padding: 0 0 2.5rem;
  z-index: 1;
}
/* line 346, ../sass/style.scss */
#main section:first-of-type {
  padding-top: 2.5rem;
}
@media screen and (max-width: 768px) {
  /* line 341, ../sass/style.scss */
  #main section {
    padding: 0 0 1.5rem;
  }
  /* line 351, ../sass/style.scss */
  #main section:first-of-type, #main section:last-of-type {
    padding-top: 2rem;
  }
}
/* line 355, ../sass/style.scss */
#main section.gray-bg {
  background-color: rgba(0, 0, 0, 0.03);
}
/* line 359, ../sass/style.scss */
#main .ad {
  position: relative;
  padding: 30px 15px;
  text-align: center;
}
/* line 365, ../sass/style.scss */
#main #marquee span {
  font-size: 15px;
}
/* line 367, ../sass/style.scss */
#main #marquee span a {
  color: #666666;
}
/* line 370, ../sass/style.scss */
#main #marquee span.sp {
  color: #D30011;
}
/* line 375, ../sass/style.scss */
#main .search {
  position: relative;
  padding: 1rem 0;
  margin-bottom: 0;
}
/* line 379, ../sass/style.scss */
#main .search input, #main .search button {
  height: auto;
  padding: 10px 15px;
  line-height: 1.5;
  font-size: 17px;
}
/* line 385, ../sass/style.scss */
#main .search button {
  position: absolute;
  top: 1rem;
  right: 0;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  background: #F36363;
  color: #fff;
  border: none !important;
  text-transform: uppercase;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
/* line 396, ../sass/style.scss */
#main .search button .text {
  display: inline-block;
  padding-left: 10px;
}
@media screen and (max-width: 767px) {
  /* line 385, ../sass/style.scss */
  #main .search button {
    width: 120px;
  }
}
@media screen and (max-width: 576px) {
  /* line 385, ../sass/style.scss */
  #main .search button {
    width: 60px;
  }
  /* line 405, ../sass/style.scss */
  #main .search button .text {
    display: none;
  }
}
/* line 410, ../sass/style.scss */
#main .search .form-control {
  width: 100%;
  padding-left: 30px;
  padding-right: 150px;
  background: rgba(0, 0, 0, 0.03);
  border: none;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 5px 15px rgba(211, 0, 17, 0.15);
  box-shadow: 2px 5px 15px rgba(211, 0, 17, 0.15);
}
@media screen and (max-width: 576px) {
  /* line 410, ../sass/style.scss */
  #main .search .form-control {
    padding-left: 15px;
    padding-right: 90px;
  }
}
/* line 426, ../sass/style.scss */
#main #side-news .news-list, #main #news .news-list {
  display: block;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px #e9e9e9 solid;
}
/* line 431, ../sass/style.scss */
#main #side-news .news-list .title, #main #news .news-list .title {
  margin-bottom: 0.5rem;
  font-size: 1.05rem;
  color: #222;
  font-weight: 600;
}
/* line 437, ../sass/style.scss */
#main #side-news .news-list:last-child, #main #news .news-list:last-child {
  border-bottom: none;
}
/* line 444, ../sass/style.scss */
#main #side-news ul.date, #main #news ul.date, #main #news-de ul.date {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 0.875rem;
}
/* line 450, ../sass/style.scss */
#main #side-news ul.date ul, #main #news ul.date ul, #main #news-de ul.date ul {
  padding: 0;
  margin: 0;
}
/* line 454, ../sass/style.scss */
#main #side-news ul.date li, #main #news ul.date li, #main #news-de ul.date li {
  display: inline-block;
  list-style: none;
}
/* line 457, ../sass/style.scss */
#main #side-news ul.date li ul > li, #main #news ul.date li ul > li, #main #news-de ul.date li ul > li {
  display: inline-block;
  color: #666666;
}
/* line 461, ../sass/style.scss */
#main #side-news ul.date li ul > li:first-child:after, #main #news ul.date li ul > li:first-child:after, #main #news-de ul.date li ul > li:first-child:after {
  content: ',';
  display: inline-block;
  padding: 0 3px;
}
/* line 470, ../sass/style.scss */
#main #side-news ul.date li ul > li.mmdd span:first-child:after, #main #news ul.date li ul > li.mmdd span:first-child:after, #main #news-de ul.date li ul > li.mmdd span:first-child:after {
  content: '.';
  display: inline-block;
  width: 3px;
  padding-left: 3px;
}
/* line 481, ../sass/style.scss */
#main #side-news ul.date li.catagory:before, #main #news ul.date li.catagory:before, #main #news-de ul.date li.catagory:before {
  content: '|';
  display: inline-block;
  width: 10px;
  text-align: center;
  color: #ccc;
}
/* line 488, ../sass/style.scss */
#main #side-news ul.date li.catagory a, #main #news ul.date li.catagory a, #main #news-de ul.date li.catagory a {
  color: #F36363;
}
/* line 492, ../sass/style.scss */
#main #side-news ul.date li.more, #main #news ul.date li.more, #main #news-de ul.date li.more {
  float: right;
}
@media only screen and (min-width: 992px) {
  /* line 501, ../sass/style.scss */
  #main #side-news .news-list {
    padding: 10px 0;
  }
  /* line 506, ../sass/style.scss */
  #main #side-news .news-list ul.date li.more {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    text-align: right;
  }
}
/* line 519, ../sass/style.scss */
#main #side-vendor .marquee {
  position: relative;
  height: 16rem;
  margin: 1rem auto;
  padding: 8px;
  overflow: hidden;
  background: white;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
/* line 528, ../sass/style.scss */
#main #side-vendor .marquee ul {
  padding: 0;
  margin: 0;
}
/* line 531, ../sass/style.scss */
#main #side-vendor .marquee ul li {
  display: inline-block;
  width: 100%;
  list-style: none;
}
/* line 535, ../sass/style.scss */
#main #side-vendor .marquee ul li a {
  display: block;
  color: #666666;
}
/* line 538, ../sass/style.scss */
#main #side-vendor .marquee ul li a span, #main #side-vendor .marquee ul li a img {
  display: inline-block;
  float: left;
}
/* line 541, ../sass/style.scss */
#main #side-vendor .marquee ul li a span.name, #main #side-vendor .marquee ul li a img.name {
  width: 55%;
  padding-left: 5%;
  font-size: 0.875rem;
}
/* line 547, ../sass/style.scss */
#main #side-vendor .marquee ul li a img {
  width: 45%;
}
/* line 552, ../sass/style.scss */
#main #side-vendor .marquee ul li:hover a, #main #side-vendor .marquee ul li:active a, #main #side-vendor .marquee ul li:focus a {
  color: #222;
}
@media only screen and (max-width: 767px) and (min-width: 576px) {
  /* line 519, ../sass/style.scss */
  #main #side-vendor .marquee {
    width: 70%;
  }
}
@media only screen and (max-width: 576px) and (min-width: 360px) {
  /* line 519, ../sass/style.scss */
  #main #side-vendor .marquee {
    width: 80%;
  }
}
/* line 566, ../sass/style.scss */
#main .bg-txt {
  position: absolute;
  top: 30%;
  left: 0;
  opacity: 0.3;
}
@media only screen and (min-width: 769px) {
  /* line 566, ../sass/style.scss */
  #main .bg-txt {
    max-width: 85%;
  }
}
@media only screen and (max-width: 768px) {
  /* line 566, ../sass/style.scss */
  #main .bg-txt {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    max-width: 100%;
    height: auto;
    left: -5%;
  }
}
/* line 580, ../sass/style.scss */
#main .bg-txt.layer-bottom {
  z-index: -1;
}
/* line 584, ../sass/style.scss */
#main .img {
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 589, ../sass/style.scss */
#main .img:before {
  display: block;
  content: "";
  padding-bottom: 40%;
}
/* line 595, ../sass/style.scss */
#main .breadcrumb {
  background: transparent;
  margin-bottom: 0;
}
/* line 598, ../sass/style.scss */
#main .breadcrumb li {
  font-size: 14px;
}
/* line 600, ../sass/style.scss */
#main .breadcrumb li:before {
  color: #ccc !important;
}
/* line 603, ../sass/style.scss */
#main .breadcrumb li a {
  color: #666666;
}
/* line 607, ../sass/style.scss */
#main .breadcrumb li.active {
  color: #222;
}
/* line 611, ../sass/style.scss */
#main a.more {
  color: #007bff;
  border-bottom: 1px dashed rgba(0, 123, 255, 0.25);
}
/* line 614, ../sass/style.scss */
#main a.more:hover, #main a.more:active {
  color: #0056b3;
}
/* line 617, ../sass/style.scss */
#main a.more .icon {
  padding-left: 0.75rem;
}
/* line 621, ../sass/style.scss */
#main .slide {
  text-align: center;
}
/* line 624, ../sass/style.scss */
#main .slick-prev {
  left: 25px;
}
/* line 627, ../sass/style.scss */
#main .slick-next {
  right: 25px;
}
/* line 630, ../sass/style.scss */
#main .pagination {
  margin-top: 30px;
  border-top: 1px solid #f4c51c;
  border-bottom: 1px solid #f4c51c;
  border-radius: 0;
}
/* line 635, ../sass/style.scss */
#main .pagination li {
  counter-increment: pagination;
}
/* line 637, ../sass/style.scss */
#main .pagination li a {
  color: #666666;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 15px;
}
/* line 642, ../sass/style.scss */
#main .pagination li a:after {
  content: " " counter(pagination) " ";
}
/* line 647, ../sass/style.scss */
#main .pagination li:hover a {
  color: #f4c51c;
  background-color: #fff;
  border: 1px solid #e9e9e9;
}
/* line 654, ../sass/style.scss */
#main .pagination li.active a {
  color: #fff;
  background-color: #f4c51c;
  border: 1px solid #f4c51c;
}
/* line 661, ../sass/style.scss */
#main .pagination li:first-child a {
  display: inline-block;
}
/* line 664, ../sass/style.scss */
#main .pagination li:first-child a:after {
  content: "上頁";
}
/* line 669, ../sass/style.scss */
#main .pagination li:last-child a {
  display: inline-block;
}
/* line 672, ../sass/style.scss */
#main .pagination li:last-child a:after {
  content: "下頁";
}
/* line 676, ../sass/style.scss */
#main .pagination li:nth-child(2) {
  counter-reset: pagination;
}
/* line 679, ../sass/style.scss */
#main .pagination li:nth-last-child(2) {
  display: inline-block;
}
/* line 681, ../sass/style.scss */
#main .pagination li:nth-last-child(2):after {
  padding: 0 1rem;
  content: "...";
}
/* line 685, ../sass/style.scss */
#main .pagination li:nth-last-child(2) a {
  display: inline-block;
}
/* line 691, ../sass/style.scss */
#main .italic {
  font-style: italic;
}

/* line 696, ../sass/style.scss */
footer {
  position: relative;
  color: #666666;
  font-size: 15px;
  background-color: #f6d14d;
}
/* line 701, ../sass/style.scss */
footer .content {
  padding: 1.5rem 0;
  margin-bottom: 36px;
}
/* line 705, ../sass/style.scss */
footer a {
  color: rgba(0, 0, 0, 0.7);
}
/* line 707, ../sass/style.scss */
footer a:hover, footer a:active, footer a:focus {
  color: #fff;
}
/* line 711, ../sass/style.scss */
footer ul {
  padding: 0;
  margin: 0;
}
/* line 714, ../sass/style.scss */
footer ul li {
  list-style: none;
}
/* line 718, ../sass/style.scss */
footer ul.contacts li, footer ul.map li {
  display: inline-block;
  padding: 0.15rem 0;
}
/* line 722, ../sass/style.scss */
footer ul.contacts li:not(:first-child):before, footer ul.map li:not(:first-child):before {
  content: "／";
  display: inline-block;
  width: 24px;
  text-align: center;
  font-weight: lighter;
}
/* line 732, ../sass/style.scss */
footer ul.contacts {
  padding: 1rem 0;
  margin: 1rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
/* line 737, ../sass/style.scss */
footer ul.contacts span {
  display: inline-block;
  margin-left: 8px;
  color: rgba(0, 0, 0, 0.7);
}
/* line 745, ../sass/style.scss */
footer .copyright p {
  margin-bottom: 0;
}
@media only screen and (min-width: 1024px) {
  /* line 750, ../sass/style.scss */
  footer .content {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 1023px) {
  /* line 696, ../sass/style.scss */
  footer {
    margin-bottom: 45px;
  }
}
@media screen and (max-width: 1200px) {
  /* line 759, ../sass/style.scss */
  footer .container.sp {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 768px) {
  /* line 767, ../sass/style.scss */
  footer .content {
    padding: 0.75rem 0;
  }
  /* line 769, ../sass/style.scss */
  footer .content .map {
    display: none;
  }
  /* line 772, ../sass/style.scss */
  footer .content .contacts {
    padding: 0 0 0.25rem;
    margin: 0 0 0.5rem;
    border-top: none;
    font-size: 14px;
  }
  /* line 778, ../sass/style.scss */
  footer .content .copyright {
    font-size: 12px;
  }
}
@media screen and (max-width: 576px) {
  /* line 787, ../sass/style.scss */
  footer .content ul.contacts li:before {
    display: none;
  }
  /* line 793, ../sass/style.scss */
  footer .contacts, footer .copyright {
    text-align: center;
  }
}

/* line 799, ../sass/style.scss */
.side-btn {
  position: fixed;
  right: 5px;
  z-index: 333;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
/* line 804, ../sass/style.scss */
.side-btn a {
  display: block;
  width: 45px;
  height: 45px;
  text-align: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 810, ../sass/style.scss */
.side-btn a:hover, .side-btn a:active, .side-btn a:focus {
  opacity: 0.8;
}
@media only screen and (max-width: 768px) {
  /* line 799, ../sass/style.scss */
  .side-btn {
    display: none;
  }
}

/* line 819, ../sass/style.scss */
#search-btn {
  bottom: 15%;
}
/* line 821, ../sass/style.scss */
#search-btn a {
  color: #fff;
  font-size: 15px;
  background-color: #F36363;
  -webkit-box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.45);
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.45);
}
/* line 827, ../sass/style.scss */
#search-btn a span {
  display: inline-block;
  line-height: 45px;
}

/* line 834, ../sass/style.scss */
#bk-top {
  bottom: 6%;
  opacity: 0;
  visibility: hidden;
}
/* line 839, ../sass/style.scss */
#bk-top .js-gotop i {
  font-size: 30px;
  color: #666666;
}
/* line 843, ../sass/style.scss */
#bk-top .js-gotop .text {
  display: block;
  font-size: 12px;
  color: #666666;
}
/* line 849, ../sass/style.scss */
#bk-top.active {
  opacity: 1;
  visibility: visible;
  cursor: default;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
@media only screen and (min-width: 1024px) {
  /* line 834, ../sass/style.scss */
  #bk-top {
    bottom: 3%;
  }
}

/* line 860, ../sass/style.scss */
#btm-btn {
  display: block;
  position: fixed;
  width: 100%;
  height: 45px;
  bottom: 0;
  left: 0;
  right: auto;
  background-color: #f4c51c;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 999;
}
@media only screen and (min-width: 1024px) {
  /* line 860, ../sass/style.scss */
  #btm-btn {
    display: none;
  }
}
/* line 874, ../sass/style.scss */
#btm-btn ul {
  width: 100%;
  height: 100%;
  padding: 0;
}
/* line 878, ../sass/style.scss */
#btm-btn ul li {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 45px;
  padding: 5px;
  line-height: 34px;
  list-style: none;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
/* line 889, ../sass/style.scss */
#btm-btn ul li:after {
  position: absolute;
  display: block;
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 889;
}
/* line 898, ../sass/style.scss */
#btm-btn ul li a, #btm-btn ul li span, #btm-btn ul li i {
  color: #fff;
  font-size: 15px;
}
/* line 903, ../sass/style.scss */
#btm-btn ul li span.nepo {
  display: none;
}
/* line 907, ../sass/style.scss */
#btm-btn ul li.top {
  display: none;
}
/* line 911, ../sass/style.scss */
#btm-btn ul li.active .open {
  display: none;
}
/* line 914, ../sass/style.scss */
#btm-btn ul li.active .nepo {
  display: inline-block;
}
@media screen and (max-width: 768px) {
  /* line 923, ../sass/style.scss */
  #btm-btn ul li.top {
    display: block;
    width: 50px;
  }
  /* line 926, ../sass/style.scss */
  #btm-btn ul li.top a {
    display: block;
    position: relative;
  }
  /* line 930, ../sass/style.scss */
  #btm-btn ul li.top span {
    display: block;
    font-size: 13px;
  }
}

/* line 8, ../sass/category.scss */
#category .item {
  display: none;
}
/* line 11, ../sass/category.scss */
#category ul.cate-li {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
/* line 15, ../sass/category.scss */
#category ul.cate-li li {
  padding-bottom: 5px;
  list-style: none;
}
/* line 18, ../sass/category.scss */
#category ul.cate-li li.title {
  font-weight: bold;
  color: #666666;
}
/* line 23, ../sass/category.scss */
#category ul.cate-li li.more a {
  color: #007bff;
}
/* line 25, ../sass/category.scss */
#category ul.cate-li li.more a:hover, #category ul.cate-li li.more a:active {
  color: #0056b3;
}
/* line 30, ../sass/category.scss */
#category ul.cate-li li a {
  color: #222;
  font-size: 0.875rem;
  border-bottom: 1px dashed rgba(0, 123, 255, 0.25);
}
/* line 34, ../sass/category.scss */
#category ul.cate-li li a:hover, #category ul.cate-li li a:active {
  color: #007bff;
}
/* line 40, ../sass/category.scss */
#category a.more {
  font-size: 0.875rem;
}

/* line 7, ../sass/text.scss */
#vendor .vendor-list .ydd-nav .slick-slide span {
  line-height: 1.6;
}
/* line 12, ../sass/text.scss */
#vendor .vendor-list .ydd-nav .slick-current span {
  font-weight: bold;
  color: #222;
}
/* line 17, ../sass/text.scss */
#vendor .vendor-list .ydd-nav .slick-prev {
  left: -25px;
}
/* line 20, ../sass/text.scss */
#vendor .vendor-list .ydd-nav .slick-next {
  right: -25px;
}
/* line 23, ../sass/text.scss */
#vendor .vendor-list .ydd-nav .slick-prev, #vendor .vendor-list .ydd-nav .slick-next {
  top: 118%;
  z-index: 99;
}
/* line 26, ../sass/text.scss */
#vendor .vendor-list .ydd-nav .slick-prev:before, #vendor .vendor-list .ydd-nav .slick-next:before {
  color: #f4c51c;
}
/* line 30, ../sass/text.scss */
#vendor .vendor-list .ydd-nav .slick-dots {
  bottom: -30px;
}
/* line 34, ../sass/text.scss */
#vendor .vendor-list .ydd-nav .slick-dots .slick-active button:before {
  color: #f4c51c;
}
/* line 40, ../sass/text.scss */
#vendor .vendor-list .ydd-nav div span {
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  /* line 44, ../sass/text.scss */
  #vendor .vendor-list .ydd-nav .slick-prev, #vendor .vendor-list .ydd-nav .slick-next {
    top: 120%;
  }
  /* line 47, ../sass/text.scss */
  #vendor .vendor-list .ydd-nav .slick-dots {
    bottom: -33px;
  }
}
/* line 55, ../sass/text.scss */
#vendor .ydd-img .slick-slide ul {
  padding: 0;
  margin: 0;
  width: 100%;
  display: inline-block;
}
/* line 60, ../sass/text.scss */
#vendor .ydd-img .slick-slide ul li {
  display: inline-block;
  width: 25%;
  padding: 0 5px;
  float: left;
  list-style: none;
}
/* line 66, ../sass/text.scss */
#vendor .ydd-img .slick-slide ul li a {
  display: block;
}
/* line 68, ../sass/text.scss */
#vendor .ydd-img .slick-slide ul li a img {
  width: 100%;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 72, ../sass/text.scss */
#vendor .ydd-img .slick-slide ul li a p {
  padding-top: 5px;
  text-align: center;
  break-word: word-break;
  line-height: 1.4;
  font-size: 15px;
  color: #666666;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 84, ../sass/text.scss */
#vendor .ydd-img .slick-slide ul li:hover a img, #vendor .ydd-img .slick-slide ul li:active a img, #vendor .ydd-img .slick-slide ul li:focus a img {
  opacity: 0.65;
}
/* line 87, ../sass/text.scss */
#vendor .ydd-img .slick-slide ul li:hover a p, #vendor .ydd-img .slick-slide ul li:active a p, #vendor .ydd-img .slick-slide ul li:focus a p {
  color: #222;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  /* line 100, ../sass/text.scss */
  #vendor .ydd-img .slick-slide ul li {
    width: 33.3333%;
  }
}
@media screen and (max-width: 767px) {
  /* line 53, ../sass/text.scss */
  #vendor .ydd-img {
    margin-top: 2rem;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  /* line 113, ../sass/text.scss */
  #vendor .ydd-img .slick-slide ul li {
    width: 50%;
  }
}
@media screen and (max-width: 360px) {
  /* line 124, ../sass/text.scss */
  #vendor .ydd-img .slick-slide ul li a p {
    margin-bottom: 15px;
  }
}

/* line 135, ../sass/text.scss */
.news .grid-filter {
  margin-bottom: 1.5rem;
}
/* line 137, ../sass/text.scss */
.news .grid-filter li {
  padding: 10px 0;
  display: inline-block;
}
/* line 140, ../sass/text.scss */
.news .grid-filter li span {
  color: #333;
  font-size: 1rem;
  padding: 0 18px;
  text-transform: uppercase;
  -moz-transition: color 0.35s;
  -o-transition: color 0.35s;
  -webkit-transition: color 0.35s;
  transition: color 0.35s;
  cursor: pointer;
}
/* line 147, ../sass/text.scss */
.news .grid-filter li span:hover {
  color: #F36363;
}
/* line 151, ../sass/text.scss */
.news .grid-filter li.active span {
  color: #F36363;
}
/* line 155, ../sass/text.scss */
.news .grid-filter .custom-select {
  color: #F36363;
}
/* line 160, ../sass/text.scss */
.news #news-de .title {
  color: #222;
}
@media screen and (max-width: 768px) {
  /* line 160, ../sass/text.scss */
  .news #news-de .title {
    font-size: 1.25rem;
  }
}
/* line 166, ../sass/text.scss */
.news #news-de .date {
  margin-bottom: 20px;
}
/* line 169, ../sass/text.scss */
.news #news-de .news-img {
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
  /* line 169, ../sass/text.scss */
  .news #news-de .news-img {
    text-align: center;
  }
}
/* line 175, ../sass/text.scss */
.news #news-de a.more {
  font-size: 0.875rem;
}
/* line 178, ../sass/text.scss */
.news #news-de .act-btns {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  text-align: center;
}
/* line 183, ../sass/text.scss */
.news #news-de .act-btns li {
  display: inline-block;
  padding: 0 0.5rem;
  list-style: none;
}
/* line 187, ../sass/text.scss */
.news #news-de .act-btns li .btn {
  width: auto;
  font-size: 0.875rem;
}

/* line 196, ../sass/text.scss */
#link ul {
  padding: 0;
  margin: 0;
}
/* line 199, ../sass/text.scss */
#link ul li {
  padding-top: 3px;
  padding-bottom: 8px;
  list-style: none;
}
/* line 203, ../sass/text.scss */
#link ul li a {
  position: relative;
  display: block;
  padding-left: 12px;
  color: #222;
  font-size: 16px;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 210, ../sass/text.scss */
#link ul li a:before {
  display: block;
  position: absolute;
  left: 0;
  content: '';
  width: 2px;
  height: 100%;
  background-color: #ccc;
}
/* line 219, ../sass/text.scss */
#link ul li a:hover, #link ul li a:active, #link ul li a:focus {
  color: #666666;
}
/* line 221, ../sass/text.scss */
#link ul li a:hover:before, #link ul li a:active:before, #link ul li a:focus:before {
  background-color: #f4c51c;
}

/* line 230, ../sass/text.scss */
#service .service-item {
  position: relative;
  padding-top: 10px;
  margin-bottom: 15px;
}
/* line 234, ../sass/text.scss */
#service .service-item:last-child {
  margin-bottom: 0;
}
/* line 237, ../sass/text.scss */
#service .service-item i {
  position: absolute;
  display: inline-block;
  width: 60px;
  text-align: center;
  left: 0;
  top: 10px;
  font-size: 2.5rem;
  color: #f4c51c;
}
/* line 247, ../sass/text.scss */
#service .service-item .text {
  padding-left: 75px;
}
/* line 249, ../sass/text.scss */
#service .service-item .text h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #222;
}

/* line 258, ../sass/text.scss */
#esale .table {
  max-width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}
/* line 262, ../sass/text.scss */
#esale .table th, #esale .table td {
  text-align: center;
  padding: 0.75rem;
  box-sizing: border-box;
  vertical-align: middle;
}
/* line 268, ../sass/text.scss */
#esale .table th span.show, #esale .table td span.show {
  display: none;
}
/* line 273, ../sass/text.scss */
#esale .table th {
  border: 1px solid #ccc;
  background-color: rgba(0, 0, 0, 0.03);
}
/* line 277, ../sass/text.scss */
#esale .table td {
  border: 1px solid #E0E0E0;
  background-color: #fff;
}
/* line 280, ../sass/text.scss */
#esale .table td.show {
  display: none;
}
/* line 283, ../sass/text.scss */
#esale .table td span {
  display: block;
}
/* line 286, ../sass/text.scss */
#esale .table td:first-child {
  max-width: 150px;
}
@media screen and (max-width: 1024px) {
  /* line 292, ../sass/text.scss */
  #esale .scroll-left {
    display: block;
    position: relative;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  /* line 298, ../sass/text.scss */
  #esale .scroll-left:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  /* line 306, ../sass/text.scss */
  #esale .scroll-left thead {
    display: block;
    float: left;
  }
  /* line 309, ../sass/text.scss */
  #esale .scroll-left thead:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  /* line 318, ../sass/text.scss */
  #esale .scroll-left tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
  }
  /* line 324, ../sass/text.scss */
  #esale .scroll-left tbody tr {
    display: inline-block;
    vertical-align: top;
    margin: 0px -5px 0 -1px;
  }
  /* line 330, ../sass/text.scss */
  #esale .scroll-left tbody, #esale .scroll-left th, #esale .scroll-left td {
    margin: 0;
    vertical-align: middle;
    font-size: 16px;
  }
  /* line 335, ../sass/text.scss */
  #esale .scroll-left th {
    display: block;
    text-align: left;
    letter-spacing: 0;
    min-height: 1.25rem;
  }
  /* line 341, ../sass/text.scss */
  #esale .scroll-left th span.show {
    display: block;
  }
  /* line 346, ../sass/text.scss */
  #esale .scroll-left td {
    display: block;
    min-height: 1.25rem;
    text-align: left;
    word-break: break-all;
  }
  /* line 351, ../sass/text.scss */
  #esale .scroll-left td.show {
    display: block;
  }
  /* line 354, ../sass/text.scss */
  #esale .scroll-left td .show {
    color: #ccc;
  }
  /* line 357, ../sass/text.scss */
  #esale .scroll-left td span {
    display: inline-block;
    padding-right: 3px;
  }
  /* line 361, ../sass/text.scss */
  #esale .scroll-left td:first-child {
    max-width: 100%;
  }
  /* line 365, ../sass/text.scss */
  #esale .scroll-left .none {
    display: none;
  }
}

/* line 372, ../sass/text.scss */
#contact hr {
  margin: 2.5rem 0;
}

/* line 377, ../sass/text.scss */
.form .form-style {
  padding: 2.5rem 3rem;
  background-color: rgba(0, 0, 0, 0.03);
}
@media screen and (max-width: 991px) {
  /* line 382, ../sass/text.scss */
  .form .form-style .custom-select:first-child {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 480px) {
  /* line 377, ../sass/text.scss */
  .form .form-style {
    padding: 1.6rem 2rem;
  }
}
/* line 391, ../sass/text.scss */
.form .au-form {
  margin-bottom: 15px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 395, ../sass/text.scss */
.form .au-form .help-block {
  color: #C06262;
  font-size: 14px;
}
/* line 399, ../sass/text.scss */
.form .au-form .verify {
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  line-height: 25px;
}
@media screen and (max-width: 768px) and (min-width: 576px) {
  /* line 399, ../sass/text.scss */
  .form .au-form .verify {
    display: block;
  }
}
/* line 410, ../sass/text.scss */
.form .info h3 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}
/* line 414, ../sass/text.scss */
.form .info li {
  position: relative;
}
/* line 416, ../sass/text.scss */
.form .info li i {
  display: inline-block;
  position: absolute;
  width: 30px;
  font-size: 18px;
  text-align: center;
}
/* line 423, ../sass/text.scss */
.form .info li p {
  padding-left: 40px;
}
